# dependencies
/node_modules/
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# testing
/coverage

# cloudflare
/workers-site/

# production
/dist/

# misc
.DS_Store
*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
